<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src = "login.js" type="text/javascript"></script>
</head>
<body>
  <h2 class="">Registration form</h2>
  <p>
  <label class=""><b>User Name</b></label>
  <input class="" id="uname"  name="uname" type="text"></p>
  <p>
    <p>
      <label for="">Email</label>
      <input type="text">
    </p>
  <label class=""><b>Password</b></label>
  <input class=""  id="upass" name="pass" type="password"></p>
  <p>
  <button class="" id="regForm">Register</button></p>
</body>
</html>