<!DOCTYPE html>
<html>

<head>
  <title>Blog | My Oven Bae</title>
  <link rel='stylesheet' href='../stylesheets/styles.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet">
</head>

<body>
  <% include partials/nav.ejs %>

  <header class="banner">
    <h1>My Oven Bae</h1>
    <br>
    <p>We post delicious recipes that are appealing to the eyes as well as to the appetite. From hi-tech kitchen
      gadgets to hot recipes, locally sourced produce and the latest culinary trends, My Oven Bae has all the
      bookmarks an obsessive foodie needs.</p>
  </header>

<!-- posts -->
  <article class="posts">
    
    <div>
      <img src="../images/recipe1.jpg" alt="">
      <h2>Smokey Chicken with Beans – a pot full of comfort!</h2>
      <h5>by nerinatimm </h5>
      <p>Smokey Chicken with Beans seems like such a simple meal. It is, but the flavor is another story. Smokey Chicken with Beans is hearty and delicious. It is one of winter’s luxuries and best part it, there will always be enough for an unannounced guest. Nothing fancy, nothing complicated. Just food from the heart. I […]</p>
    </div>
    
    <div>
      <img src="../images/sandwitch2.jpg" alt="">
      <h2>Baguette Parma Labneh Sandwich – who says girls can’t have big sandwiches?</h2>
      <h5>by nerinatimm </h5>
      <p>This Baguette Parma Labneh Sandwich is proof that the simple things done well, is just so damn good. My Baguette Parma Labneh Sandwich was everything I want in a sandwich…….. crusty bread, creamy spread, salty meat and then of course crispy lettuce. That is a big mouthful isn’t it? Well, whoever said that girls can’t […]</p>
    </div>
    
    <div>
      <img src="../images/dessert1.jpeg" alt="">
      <h2>Elegant Christmas Trifle</h2>
      <h5>by nerinatimm </h5>
      <p>An elegant Christmas trifle to adorn your dessert table. The Elegant Christmas Trifle may see complicated to make ans assemble, but I can assure you, it is childs play. Not really a child-friendly dessert though, as it is spiked a little with Fairview La Beryl Blanc. Afterall what is Christmas without the cheer. First of all, […]</p>
    </div>
  </article>

  <% include partials/form.ejs %>

 

</body> 

 </html>