<!DOCTYPE html>
<html>

<head>
  <title>Blog | My Oven Bae</title>
  <link rel='stylesheet' href='../stylesheets/styles.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
</head>

<body>
  <% include partials/nav.ejs %>

  <header class="banner">
    <h1>My Oven Bae</h1>
    <br>
    <p>We post delicious recipes that are appealing to the eyes as well as to the appetite. From hi-tech kitchen
      gadgets to hot recipes, locally sourced produce and the latest culinary trends, My Oven Bae has all the
      bookmarks an obsessive foodie needs.</p>
  </header>

  

</body>

</html>